# Development/tooling files
.git/
.github/
.gitignore
.vscode/
.eslintrc
.prettierrc
.babelrc
tsconfig.json
babel.config.js
metro.config.js
jest.config.js
.travis.yml
.circleci/
.idea/

# Examples and tests
example/
__tests__/
coverage/

# Build artifacts
ios/.xcode.env
ios/.xcode.env.local
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace/
ios/*.xcworkspace/contents.xcworkspacedata
ios/*.xcodeproj/xcuserdata/
ios/**/*.xcuserstate

android/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log

# Node
node_modules/

# Misc
.DS_Store
*.jsbundle
dist/
